<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
  <add name="MySQLConnection" connectionString="Data Source=CYBER-HACKER\SQLEXPRESS;Initial Catalog=Storytel;Integrated Security=True;" />
  <add name="Storytel.Properties.Settings.StorytelConnectionString"
   connectionString="Data Source=CYBER-HACKER\SQLEXPRESS;Initial Catalog=Storytel;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>